*{
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

/* Main Body */
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}
.main-body{
  width: 242px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background-color: hsl(216, 50%, 16%);
}

/* Main Pic */
.main-cube{
  width: 210px;
  height: 195px;
  margin: 0 auto;
}
img{
  width: 100%;
  height: 100%;
}
.main-body, .main-cube>img{
  border-radius: 10px;
}

/* Text Boxes */
.main-text, .creator-info{
  width: 210px;
  margin-left: 5px;
}
.nft-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.creator-info{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  border-top: 1px solid hsl(215, 32%, 27%);
}
.nft-eth>img{
  width: 8px;
  height: 14px;
  position: relative;
  top: 10px;
  margin-right: 2px;
}
.nft-days>img{
  width: 15px;
  height: 15px;
  position: relative;
  top: 11px;
  margin-right: 2px;
}
.nft-eth, .nft-days{
  display: flex;
}
.creator-info>img{
  width: 23px;
  height: 23px;
  position: relative;
  top: 7px;
  margin-right: 5px;
  border-radius: 100%;
  border: 1px solid hsl(0, 0%, 100%);
}
.creation-title{
  margin-right: 3px;
  margin-left: 6px;
}
.nft-eth p, .nft-days p{
  margin-left: 2px;
}

/* Attribution */
.attribution{
  width: 240px;
}

/* Font Styles */
body{
  color: hsl(215, 51%, 70%);
}
h1>a{
  font-weight: 600;
}
.main-text>p{
  font-size: 0.825rem;
}
.nft-eth>p{
  font-size: 0.73rem;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}
.nft-days>p, .creator-info>p, .creator-info a{
  font-size: 0.72rem;
}
.attribution>span, .attribution a{
  font-size: 0.82rem;
}
h1>a, .creator-name>a, .attribution{
  color: hsl(0, 0%, 100%);
}
.attribution>span>a{
  color: orange;
}
a{
  text-decoration: none;
}
.main-text a:hover, .creator-name a:hover{
  color: hsl(178, 100%, 50%);
}